<h1 class="h1-user-profile">Welcome to Your Dashboard, <%= @user.username %>!</h1>
  <div class="container-user-page-details-edit">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs flex">
    <div class="form-input-edit-page-details col-2 p-l-64">
      <%= f.input :email, required: true, autofocus: true %>

      <%= f.input :photo, as: :file,
          label: "Update your profile picture here" %>
      <%= f.input :password,
                  hint: "Leave it blank if you are not going to change it!",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "In order to proceed, we need your current password to confirm your changes.",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <hr>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn-regular btn-secondary btn-size-s" %>
      </div>

      <div class="unhappy">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn-regular btn-secondary btn-size-s" %></div>
    </div>
    <div class="form-inputs-edit-page-preferences col-2 p-r-64">
      <%= f.input :genres,
                  label: "Choose your favorite genres (up to three)",
                  collection: Genre.all,
                  required: true,
                  input_html: {multiple: true, data: {controller: "tom-select"}, selected: resource.genre_ids} %>
      <%= f.input :directors,
                  label: "Choose your favorite directors (up to three)",
                  collection: Director.all,
                  label_method: :full_name,
                  required: true,
                  input_html: {multiple: true, data: {controller: "tom-select"}, selected: resource.director_ids} %>
      <%= f.input :actors,
                  label: "Choose your favorite actors (up to three)",
                  collection: Actor.all,
                  label_method: :full_name,
                  required: true,
                  input_html: {multiple: true, data: {controller: "tom-select"}, selected: resource.actor_ids} %>
    </div>
  </div>

<% end %>


<div class="see-all-my-stuff">
  <h2>Your Events
    <%= link_to events_path, class: "see-all-link" do %>
      See All <i class="fas fa-arrow-right"></i>
    <% end %>
  </h2>
</div>

<div class="container-user-events-page">
  <div class="user-my-events-page">
    <div class="user-organized-events">
      <h2>You Have Created <%= @my_events.count %> Event(s) So Far</h2>
    </div>
    <% @my_events = current_user.events.limit(3)%>
    <%= render 'shared/my_events_user_profile' %>
  </div>

  <div class="user-join-events-page">
    <div class="user-attending-events">
      <h2>You Are Attending to <%= @attended_events.count %> Event(s) So Far</h2>
    </div>
        <% @attended_events.first(3).each do |attended| %>
         <%= link_to event_path(attended.event), class: "link-style" do %>
            <div id="container-events-horizontal">
              <div class="movie-poster-horizontal">
                <img src="<%= attended.event.movie.poster_url %>" alt="Movie Poster" class="movie-poster-horizontal">
              </div>
              <div class="date-box">
                <h3><%= attended.event.date.strftime("%d") %></h3>
                <p><%= attended.event.date.strftime("%a") %></p>
              </div>
              <div class="movie-theater">
                <h5><%= attended.event.theatre %></h5>
                <p><%= attended.event.location %></p>
              </div>
              <div class="participants-info">
                <% if attended.event.user.photo.attached? %>
                <%= image_tag attended.event.user.photo, crop: :fill, class: "avatar", alt: "dropdown menu" %> Host : <%=     User.find(attended.event.user_id).username %>
                <% else %>
                <%= image_tag "default_avatar.jpeg", class: "avatar", alt: "default avatar" %>
                <p>Host</p>
                <%= User.find(attended.event.user_id).username %></p>
                <% end %>
                <p>Participants <%= attended.event.event_users.count %></p>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
  <hr><hr>
</div>

<div class="see-all-my-stuff">
  <h2>Your Friends
    <%= link_to friendships_path, class: "see-all-link" do %>
      See All <i class="fas fa-arrow-right"></i>
    <% end %>
  </h2>
</div>

<div class="user-friends-page">
  <% if current_user.friends.empty? %>
    <p class="text-muted"><em>Sorry, you have no friends... Yet!  😎 </em></h2>
    <% else %>
      <%= render 'shared/friends_cards_user_profile', friends: current_user.friends %>
  <% end %>
</div>


<div class="user-watchlist page">
    <div class="background_movies p-l-64 p-t-32">
      <section class="movie-recommendations m-y-24 p-b-42">
        <header class="flex center-vertically m-y-32 m-r-64">
          <h2 class="white">Movie recommendations</h2>
          <a href="#" class="see-all white">See All <i class="fas fa-solid fa-arrow-right"></i></a>
        </header>

        <div class="movies-horizontal-list"  data-controller="scroll">
          <button class="scroll-button left" data-action="click->scroll#scrollLeft">
            <i class="fas fa-circle-chevron-left"></i>
          </button>
          <% if current_user.preferred_content.present? %>
            <% current_user.preferred_content.each do |movie| %>

             <%= render "shared/movie_card", movie: movie %>

            <% end %>
          <% else %>
            <h2 class="white">
              <em>Sorry, there's no movie recommendation yet.</em>
            </h2>
          <% end %>
          <button class="scroll-button right" data-action="click->scroll#scrollRight">
            <i class="fas fa-circle-chevron-right"></i>
          </button>
        </div>
      </section>
    </div>
</div>
