<body>
  <div class="background-container">
    <div class="background-animation"></div>
  </div>
  <div class="wrapper-sign-up">
    <div class="container-sign-up-form">
      <h2 class="sign-up-title">Sign up for Movie Nights!</h2>
      <p class="sign-up-title">The best place to find friends and watch movies together!</p>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          <!-- Ask the user for preferences -->
          <%= f.association :genres, label: "Favorite Genres", as: :check_boxes, required: true, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
          <%= f.association :directors, label: "Favorite Directors", label_method: :full_name, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false, required: true %>
          <%= f.association :actors, label: "Favorite Actors", label_method: :full_name, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>

