<div class="container ">
    <div class="col-sm-12">
     <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
      <div class="movies">


          <% @movies.each do |movie| %>

        <div class="movie-card">
            <%= image_tag movie.poster_url %>
            <h3><%= movie.title %></h3>
            <p><%= movie.description %></p>
        </div>
          <% end %>

      </div>
    </div>
</div>
