<div class="event-cards-container" data-controller="scroll">

  <% if users.any? %>
      <div class="user-cards flex flex-wrap">
        <% users.each do |user| %>
          <% friendship = current_user.friendships.find_by(friend_id: user.id) || current_user.inverse_friendships.find_by(user_id: user.id) %>
          <% unless friendship&.accepted? %>
            <div class="user-card flex flex-wrap">
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "default_avatar.jpeg", alt: "hello", class: "avatar"%>
              <% end %>
              <div class="text m-b-8">
                <h4>
                  <h3><%= link_to user.username, profile_path(user) %></h3>
                </h4>
                <p class="m-0"><%= user.directors.pluck(:last_name).join(', ') %></p>
                <p class="m-0"><%= user.actors.pluck(:last_name).join(', ') %></p>
                <ul class="display-inline ul-style-none w-100">
                  <% user.genres.pluck(:title).each do |title| %>
                    <li class="m-t-8"><span class="tag"><%= title %></span></li>
                  <% end %>
                </ul>
                <% if friendship.nil? %>
                  <%= link_to "+ Friend", friendships_path(friend_id: user.id), data: { turbo_method: :post }, class: "btn-regular btn-secondary btn-size-s"  %>
                <% elsif friendship.pending? %>
                  <% if friendship.friend_id == current_user.id %>
                    <%= link_to "Accept", accept_friendship_path(friendship), data: { turbo_method: :patch }, class: "btn-regular btn-primary btn-size-s"  %>
                    <%= link_to "Reject", reject_friendship_path(friendship), data: { turbo_method: :patch }, class: "btn-regular btn-danger btn-size-s"  %>
                  <% else %>
                    <button class="btn-regular btn-secondary btn-size-s" disabled>Pending</button>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <em>No users with similar preferences found.</em>
  <% end %>

  <% if users.count > 5 %>
    <button class="scroll-button right" data-action="click->scroll#scrollRight"><i class="fas fa-circle-chevron-right"></i></button>
  <% end %>
</div>
