<% if friends.any? %>
    <div class="user-cards flex flex-wrap">
      <% friends.each do |friend| %>
        <div class="user-card flex flex-wrap">
          <% if friend.photo.attached? %>
            <%= image_tag friend.photo, class: "avatar" %>
          <% else %>
            <%= image_tag "default_avatar.jpeg", alt: "User Image", class: "avatar"%>
          <% end %>
          <div class="text m-b-8">
            <h3><%= link_to friend.username, profile_path(friend) %></h3>
            <p class="m-0"><%= friend.directors.pluck(:last_name).join(', ') %></p>
            <p class="m-0"><%= friend.actors.pluck(:last_name).join(', ') %></p>
            <p class="m-0"><%= friend.reviews.count %> movies reviewed</p>
            <p class="m-0"><%= friend.events.count %> events attended</p>
            <p class="m-0">Has <%= friend.friends.count %> friends</p>
            <ul class="display-inline ul-style-none w-100">
              <% friend.genres.pluck(:title).each do |title| %>
                <li class="m-t-8"><span class="tag"><%= title %></span></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <em>No users with similar preferences found.</em>
  <% end %>
