
<% theatres = { "Moviemento" => 'Kottbusser Damm 22, 10967 Berlin', "Neues Off cinema" => 'Hermannstraße 20, 12049 Berlin',
  "IL KINO" => 'Nansenstraße 22, 12047 Berlin', "Babylon Kreuzberg" => 'Dresdener Str. 126, 10999 Berlin',
  "Passage Berlin" => 'Karl-Marx-Straße 131, 12043 Berlin', "Filmtheater am Friedrichshain" => 'Bötzowstraße 1-5, 10407 Berlin',
  "Babylon" => 'Rosa-Luxemburg-Straße 30, 10178 Berlin', "Kino Central" => 'Rosenthaler Str. 39, 10178 Berlin',
  "Odeon Berlin" => 'Hauptstraße 116, 10827 Berlin', "Rollberg Kinos" => 'Rollbergstraße 70, 12049 Berlin',
  "b-ware Ladenkino" => 'Gärtnerstraße 19, 10245 Berlin', "Kino International" => 'Karl-Marx-Allee 33, 10178 Berlin'
  } %>

<div class="create-event form form-modal">
  <div id="closebutton">
  <h5 class="event-page">Create a new event</h5>
  <i class="fa-regular fa-circle-xmark mouseover" data-action="click->popup#closeform"></i>
  </div>

  <%= simple_form_for @event, data: {controller: "flatpickr"} do |form| %>
    <div class="form-input">
      <%= form.input :movie, collection: Movie.all %>
      <%= form.input :description %>
      <%= form.input :date, as: :string, input_html: { data: {flatpickr_target: "date"}} %>
      <%= form.input :location %>
      <%= form.input :theatre, collection: theatres.keys %>
    </div>

    <div class="form-actions m-t-32">
      <%= form.button :submit, class: "create-button btn btn-regular btn-primary btn-size-s w-100" %>
    </div>
  <% end %>
</div>
