<%= simple_form_for @event do |form| %>
  <div class="form-input">
    <%= form.input :title %>
    <%= form.input :movie, collection: Movie.all %>
    <%= form.input :description %>
    <%= form.input :date, as: :date %>
    <%= form.input :location %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
