<div class="body-light-blue">

  <div id="events-grid">

    <div id="events-left">
      <header class="flex space-between center-vertically m-y-32">
        <h1 class="inline">Events</h1>
        <div data-controller="popup">
          <button class="btn btn-regular btn-primary btn-size-s" data-action="click->popup#showform">+ Create an event</button>
          <div class="d-none" data-popup-target="createForm">
            <div class='overlay-blur'></div>
          <%= render "shared/popup" %>
          </div>
        </div>
      </header>

      <h2>Today</h2>

      <%# Blueprint for Eventcards on Events %>
      <%= render "shared/event_cards_hz_today" %>

      <h2>Following Days</h2>


      <%= render "shared/event_cards_hz_all" %>


    </div>


    <div class="map-right"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
