<div class="body-light-blue">

  <div id="events-grid">

    <div id="events-left">

      <div id="header-eventcards">
        <h1 class="event-page"><i class="fa-solid fa-ticket ticket"></i> Events</h1>
        <div data-controller="popup">
          <button class="button-red" data-action="click->popup#showform"><h5>+ Create an event</h5></button>
          <div class="d-none" data-popup-target="createForm">
            <div class='overlay-blur'></div>
            <%= render "shared/popup" %>
          </div>
        </div>
      </div>

      <h2>Today</h2>

      <%# Blueprint for Eventcards on Events %>
      <%= render "shared/event_cards_hz_today" %>

      <h2>Following Days</h2>


      <%= render "shared/event_cards_hz_all" %>


    </div>


    <div class="map-right"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
