 <div class="create-event">
      <h5 class="event-page">Create a new Event</h5>

      <%= simple_form_for @event do |form| %>
        <div class="form-input">
          <%= form.input :movie, collection: Movie.all %>
          <%= form.input :description %>
          <%= form.input :date, as: :date %>
          <%= form.input :date, as: :time, label: "Time" %>
          <%= form.input :location %>
        </div>

        <div class="form-actions">
          <%= form.button :submit, class: "create-button" %>
        </div>
      <% end %>
    </div>
