<div class="page" id="event-detail-page">

  <div id="event-banner" style="background-image: radial-gradient(circle 400px at 50% -30%, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8)), url('<%= @event.movie.poster_url %>');">
    <div>
      <h1><%= @event.movie.title %> movie night</h1>
    </div>

    <div class="event-flex">
      <div class="event-date-box">
        <h3><%= @event.date.strftime("%d") %></h3>
        <p><%= @event.date.strftime("%b") %></p>
      </div>

      <div>
        <% eventjoin = current_user.event_users.find_by(event_id: @event.id) if current_user %>
          <% if current_user && @event.user_id == current_user.id %>
            <p class="white">This is your event!</p>

            <%= link_to "Cancel", event_path(event_id: @event), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <%= link_to "Edit", edit_event_path(@event), class: "btn btn-warning" %>
          <% elsif eventjoin %>
            <span class="font-white"><p>You are attending!</p></span>
            <%= link_to "Cancel", event_user_path(eventuser_id: eventjoin, event_id: @event), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "cancel-button" %>
          <% else %>
            <%= link_to "Join this event!", event_users_path(event_id: @event.id), data: { "turbo-method": :post }, class: "btn button-red" %>
        <% end %>
      </div>
    </div>

    <div>

    </div>
  </div>

  <div id="events-show-grid">

    <section class="about-event">
      <h2>About the event</h2>
      <p id="genre-box"><%= @event.movie.genre %></p>
      <p><%= @event.movie.description %></p>
      <div class="address">
        <h3>Full adress: </h3>
        <p><i class="fa-solid fa-location-dot"></i></p>
        <p><%= @event.theatre %> <p><%= @event.location %></p>
      </div>

      <div class="map-event"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <span class="divider"></span>

      <div class="participants-container">

        <div class="flex-between">
          <div>
            <h3>Participants (<%= @event.event_users.count %>)</h3>
            <h5><%=10-@event.event_users.count %> places left!</h5>
          </div>

          <div>
            <% eventjoin = current_user.event_users.find_by(event_id: @event.id) if current_user %>
              <% if current_user && @event.user_id == current_user.id %>
                <p>This is your event!</p>
                <%= link_to "Cancel", event_path(event_id: @event), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <%= link_to "Edit", edit_event_path(@event), class: "btn btn-warning" %>
              <% elsif eventjoin %>
                <p>You are attending!</p>
                <%= link_to "Cancel", event_user_path(eventuser_id: eventjoin, event_id: @event), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "cancel-button" %>
              <% else %>
                <%= link_to "Join this event!",   event_users_path(event_id: @event.id), data: { "turbo-method": :post }, class: "btn button-red" %>
              <% end %>
          </div>
        </div>

        <div class="participants-cards">
          <%= render "shared/friends_cards_show" %>
        </div>

      </div>

      <span class="divider"></span>

      <h3>Organised by</h3>

      <div class="user-card flex flex-wrap organizer">
        <% if @event.user_id == current_user.id %>
          <h3>You</h3>
        <% else %>
          <% organizer = User.find(@event.user_id) %>
          <% if organizer.photo.attached? %>
            <%= cl_image_tag organizer.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "default_avatar.jpeg", alt: "hello", class: "avatar"%>
          <% end %>

        <div class="text m-b-8">
          <h4>
            <h3><%= link_to organizer.username, profile_path(organizer) %></h3>
          </h4>
          <p class="m-0"><%= organizer.directors.pluck(:last_name).join(', ') %></p>
          <p class="m-0"><%= organizer.actors.pluck(:last_name).join(', ') %></p>
          <ul class="display-inline ul-style-none w-100">
            <% organizer.genres.pluck(:title).each do |title| %>
              <li class="m-t-8"><span class="tag"><%= title %></span></li>
            <% end %>
          </ul>
          <% unless current_user.friends.include?(organizer) %>
            <%= link_to "+ Friend", friendships_path(friend_id: organizer.id), data: { turbo_method: :post }, class: "btn-regular btn-secondary btn-size-s"  %>
          <% end %>
        </div>
        <% end %>
      </div>

    </section>

    <section class="chat">

      <h2>Messages</h2>
      <h4>Your message</h4>
      <p>Max 300 characters</p>

      <div data-controller="event-subscription" data-event-subscription-event-id-value="<%= @event.id %>">
        <div class="chat">
          <%= simple_form_for [@event, @message],
          html: { data: { action: "turbo:submit-end->event-subscription#resetForm" }, class: "d-flex" } do |f|
          %>
          <%= f.input :content,
            label: false,
            placeholder: "Leave a message for your moviebuddies",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Send", class: "btn btn-primary mb-3" %>
          <% end %>
        </div>

      <div class="container chatroom">

        <div class="messages" data-event-subscription-target="messages">
          <% @event.messages.each do |message| %>
          <%= render "messages/message", message: message %>
          <% end %>
        </div>
      </div>

    </section>

  </div>
