<div class="container-event-show">

  <div>
    <%= image_tag(@event.movie.poster_url) %>
  </div>

  <div>
    <h1><%= @event.movie.title %></h1>
    <h5><i class="fa-solid fa-location-dot"></i> <%= @event.location %></h3>
    <h5><i class="fa-regular fa-calendar"></i> <%= @event.date.strftime("%d/%m/%Y")  %></h3>
    <h5><i class="fa-regular fa-clock"></i> <%= @event.date.strftime("%H:%M")%></h3>
    <p><%= @event.description %></p>
    <h5>Host</h5>
    <%= User.find(@event.user_id).username %>
    <h5>Participants 8 (max 10 attendees)</h5>
    <% @event.event_users.each do |person| %>
    <p><%= User.find(person.user_id).username  %></p>
    <% end %>
  </div>

  <div class="event-button">
    <% eventjoin = current_user.event_users.find_by(event_id: @event.id) if current_user %>
    <% if current_user && @event.user_id == current_user.id %>
    <p>This is your event!</p>
    <% elsif eventjoin %>
    <p>You are attending!</p>
    <%= link_to "Cancel", event_user_path(eventuser_id: eventjoin, event_id: @event), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "cancel-button" %>
    <% else %>
    <%= link_to "Join this event!",   event_users_path(event_id: @event.id), data: { "turbo-method": :post }, class: "join-button" %>
    <% end %>
  </div>


</div>
