<header class="header-friends-list flex space-between center-vertically m-y-32 m-r-64 p-x-64">
  <h1 id="title-friends-list">Here's Your Friends, <%= current_user.username %>! You currently have <%= current_user.friends.count %> Friend(s) 👯‍♀️</h1>
</header>
<header class="header-friends-list flex space-between center-vertically m-y-32 m-r-64 p-x-64">
  <h2 id="title-friends-list">...And <%= current_user.friendships.pending.count %> pending request(s)! ⏳</h2>
</header>

<div class="container-friends-list">
  <% if @friends.any? %>
    <div class="wrappemall">
      <% @friends.each do |friendship| %>
        <% friend = friendship.friend == current_user ? friendship.user : friendship.friend %>
        <div class="user-card flex flex-wrap">
          <% if friend.photo.attached? %>
            <%= cl_image_tag friend.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "default_avatar.jpeg", alt: "User Image", class: "avatar"%>
          <% end %>
          <div class="text m-b-8">
            <h3><%= link_to friend.username, profile_path(friend) %>
                <% if friendship.pending? %>
                  <% if friendship.friend_id == current_user.id %>
                    <%= link_to "Accept", accept_friendship_path(friendship), data: { turbo_method: :patch }, class: "btn-regular btn-primary btn-size-s" %>
                    <%= link_to "Reject", reject_friendship_path(friendship), data: { turbo_method: :patch }, class: "btn-regular btn-danger btn-size-s" %>
                  <% else %>
                    <button class="btn-regular btn-secondary btn-size-s" disabled>Pending Request</button>
                  <% end %>
              <% end %>
            </h3>
            <div class="directors-index-friends">
            <p class="favorite-authors-p">Favorite Directors:</p>
            <% friend.directors.first(3).each do |director| %>
                <span><%= director.first_name %> <%= director.last_name %> </span>
            <% end %>
            </div>
            <div class="actors-index-friends">
            <p class="favorite-authors-p">Favorite Actors:</p>
            <% friend.actors.first(3).each do |actor| %>
              <span><%= actor.first_name %> <%= actor.last_name %> </span>
            <% end %>
            </div>
            <p class="m-0"><%= friend.reviews.count %> movies reviewed</p>
            <p class="m-0"><%= friend.events.count %> events attended</p>
            <p class="m-0">Has <%= friend.friends.count %> friends</p>
            <ul class="display-inline ul-style-none w-100">
              <% friend.genres.pluck(:title).first(3).each do |title| %>
                <li class="m-t-8"><span class="tag"><%= title %></span></li>
              <% end %>
              <hr class="friends-list-hr">
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <em>Still no friends to display! Add some!</em>
  <% end %>
</div>
</div>
