<div id="homepage">
  <div class="banner">
    <% if current_user %>
      <p class="h3 white">Hello, <%= current_user.username %>! 🍿</p>
    <% end %>
    <h1 class="white">Welcome to Movie Nights !</h1>
  </div>

    <div class="background_event-friends p-l-64 p-t-32">
      <section class="events p-b-42">
        <header class="flex space-between center-vertically m-y-32 m-r-64">
          <h2 class="inline">Today's Movie Nights</h2>
          <a href="/events" class="btn btn-regular btn-primary btn-size-s">Create an event</a>
        </header>
        <%= render 'shared/event_cards' %>
      </section>
      <hr>
      <section class="similar-users p-b-42">
        <header class="flex center-vertically m-y-32">
          <h2>They like the same type of movies as you</h2>
          <a href="#" class="see-all">See All <i class="fas fa-solid fa-arrow-right"></i></a>
        </header>
        <%= render 'shared/friends_cards', users: current_user.similar_users %>
      </section>
    </div>

    <div class="background_movies p-l-64 p-t-32">
      <section class="movie-recommendations m-y-24 p-b-42">
        <header class="flex center-vertically m-y-32 m-r-64">
          <h2 class="white">Movie recommendations</h2>
          <a href="#" class="see-all white">See All <i class="fas fa-solid fa-arrow-right"></i></a>
        </header>
        <div class="movies-horizontal-list"  data-controller="scroll">
          <button class="scroll-button left" data-action="click->scroll#scrollLeft">
            <i class="fas fa-circle-chevron-left"></i>
          </button>
          <% if current_user.preferred_content.present? %>
              <% current_user.preferred_content.each do |movie| %>
                <div class="movie-card card">
                  <%= image_tag movie.poster_url %>
                  <h3 class="white"><%= movie.title %></h3>
                </div>
              <% end %>
          <% else %>
            <h2 class="white">
              <em>Sorry, there's no movie recommendation yet.</em>
            </h2>
          <% end %>
          <button class="scroll-button right" data-action="click->scroll#scrollRight">
            <i class="fas fa-circle-chevron-right"></i>
          </button>
        </div>
      </section>
    </div>
</div>
