
<div id="my-events">
  <section class="p-48 section-first">
    <header class="flex space-between">
      <h2>Events that I organise</h2>
      <div data-controller="popup">
      <button class="" data-action="click->popup#showform">
      Create event
      </button>
        <div class="d-none" data-popup-target="createForm">
          <div class='overlay-blur'></div>
          <%= render "shared/popup" %>
        </div>
        </div>
    </header>
    <div class="flex">
      <% @my_events.each do |event| %>
        <div id="container-events-horizontal">
          <div class="movie-poster-horizontal">
            <img src="<%= event.movie.poster_url %>" alt="Movie Poster" class="movie-poster-horizontal">
          </div>
          <div class="date-box">
            <h3><%= event.date.strftime("%d") %></h3>
            <p><%= event.date.strftime("%a") %></p>
          </div>
          <div class="movie-theater">
            <p><%= event.theatre %></p>
            <p><%= event.location %></p>
          </div>
          <div class="participants-info">
            <p>Avatar - Username - Participants</p>
          </div>
        </div>
    <% end %>
    </div>
  </section>

  <section class="p-48 section-second">
    <h2>Events that I attend</h2>
      <div class="flex">
        <% @attended_events.each do |attended| %>
          <div class="event-card card" >
            <h4><%= attended.event.movie.title %></h4>
            <p><%= attended.event.description %></p>
            <p><i class="fa-solid fa-location-dot"></i> <%= attended.event.theatre %>, <%= attended.event.location %></p>
            <p>Participants: <%= attended.event.event_users.count %></p>
            <p class="event-date">
            <span class="date-box">
            <span class="date-day"><%= attended.event.date.strftime("%d") %></span>
            <span class="date-month"><%= attended.event.date.strftime("%b") %></span>
            </span>
            <h5>Host:</h5>
            <% if attended.event.user.photo.attached? %>
            <p> <%= image_tag attended.event.user.photo, crop: :fill, class: "avatar", alt: "dropdown menu" %><%= attended.event.user.username %> </p>
            <% else %>
            <p> <%= image_tag "default_avatar.jpeg", crop: :fill, class: "avatar", alt: "dropdown menu" %>  <%= attended.event.user.username %> </p>
            <% end %>
            <p>You are attending!</p>
            <%= link_to 'See Event', event_path(attended.event), class: 'see-more-button' %>
            <%= link_to "Cancel", event_user_path(id: attended.id, eventuser_id: attended, event_id: pages_myevents_path), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "cancel-button" %>
          </div>
        <% end %>
      </div>
  </section>
</div>
