
<div id="my-events" class="background_event-friends p-t-32">
  <h1 class="m-t-32 p-l-64">My Events</h1>
  <div class="flex">
    <section class="col-2 p-l-64">
      <header class="flex space-between center-vertically m-y-32">
        <h2 class="inline">Events that I organise</h2>
        <div data-controller="popup">
          <button class="btn btn-regular btn-primary btn-size-s" data-action="click->popup#showform">
            Create an event
          </button>
          <div class="d-none" data-popup-target="createForm">
            <div class='overlay-blur'></div>
            <%= render "shared/popup" %>
          </div>
        </div>
      </header>
      <div class="">
        <% @my_events.each do |event| %>
          <%= link_to event_path(event), class: "link-style" do %>
            <div id="container-events-horizontal">
              <div class="movie-poster-horizontal">
                <img src="<%= event.movie.poster_url %>" alt="Movie Poster" class="movie-poster-horizontal">
              </div>
              <div class="date-box">
                <h3><%= event.date.strftime("%d") %></h3>
                <p><%= event.date.strftime("%a") %></p>
              </div>
              <div class="movie-theater">
                <h5><%= event.theatre %></h5>
                <p><%= event.location %></p>
              </div>
              <div class="participants-info">
                <% if event.user.photo.attached? %>
                <%= image_tag event.user.photo, crop: :fill, class: "avatar", alt: "dropdown menu" %> Host : <%=     User.find(event.user_id).username %>
                <% else %>
                <%= image_tag "default_avatar.jpeg", class: "avatar", alt: "default avatar" %>
                <p>Host</p>
                <%= User.find(event.user_id).username %></p>
                <% end %>
                <p>Participants <%= event.event_users.count %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>

    <section class="col-2 p-r-64">
      <header class="flex space-between center-vertically m-y-32">
        <h2 class="inline">Events that I attend</h2>
      </header>
      <div class="">
        <% @attended_events.each do |attended| %>
         <%= link_to event_path(attended.event), class: "link-style" do %>
            <div id="container-events-horizontal">
              <div class="movie-poster-horizontal">
                <img src="<%= attended.event.movie.poster_url %>" alt="Movie Poster" class="movie-poster-horizontal">
              </div>
              <div class="date-box">
                <h3><%= attended.event.date.strftime("%d") %></h3>
                <p><%= attended.event.date.strftime("%a") %></p>
              </div>
              <div class="movie-theater">
                <h5><%= attended.event.theatre %></h5>
                <p><%= attended.event.location %></p>
              </div>
              <div class="participants-info">
                <% if attended.event.user.photo.attached? %>
                <%= image_tag attended.event.user.photo, crop: :fill, class: "avatar", alt: "dropdown menu" %> Host : <%=     User.find(attended.event.user_id).username %>
                <% else %>
                <%= image_tag "default_avatar.jpeg", class: "avatar", alt: "default avatar" %>
                <p>Host</p>
                <%= User.find(attended.event.user_id).username %></p>
                <% end %>
                <p>Participants <%= attended.event.event_users.count %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>
