
<header class="flex space-between center-vertically m-y-32 m-x-64">
  <% if current_user %>
  <h1 class="inline">Welcome to Your Dashboard, <%= @user.username %>!</h1>
  <% else %>
  <h1 class="inline">Profile of <%= @user.username %></h1>
  <% end %>
</header>

<div class="container-user-page-details">
  <div class="user-details-page m-x-64 m-t-24">
    <header class="flex space-between center-vertically">
      <h2 class="inline">Your Profile Picture</h2>
      <%= link_to "Edit Your Profile", edit_user_registration_path, class: 'btn-regular btn-secondary btn-size-xs btn' %>
    </header>
    <div class="user-card-details">
      <div>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "picture-card-img rounded-circle" %>
        <% else %>
          <%= image_tag "default_avatar.jpeg", alt: "User Image", class: "picture-card-img rounded-circle" %>
        <% end %>
      </div>
      <div class="username-email-deets">
        <h2 class="profile-edit-deets">Your Name:</h2> <p><%= @user.username %></p>
        <h2 class="profile-edit-deets">Your Email:</h2> <p><%= @user.email %></p>
      </div>
    </div>
  </div>
  <div class="user-preferences-page">
    <div class="user-preferences-card">
      <div class="user-preferences-genres">
        <p class="h3">Your Favorite Genres</p>
          <% @user.genres.pluck(:title).each do |title| %>
           <ul class="ul-style-none display-inline"> <li class="m-t-8"><span class="tag"><%= title %></span></li> </ul>
          <% end %>
      </div>
      <div class="user-preferences-directors">
        <p class="h3">Your Favorite Directors</p>
        <p><%= @user.directors.pluck(:last_name).join(', ') %></p>
      </div>
      <div class="user-preferences-actors">
        <p class="h3">Your Favorite Actors</p>
        <p><%= @user.actors.pluck(:last_name).join(', ') %></p>
      </div>
    </div>
  </div>
</div>

<header class="flex center-vertically m-y-32 m-x-64">
  <h2>Your Events 💃</h2>
  <%= link_to events_path, class: "see-all" do %> See All <i class="fas fa-arrow-right"></i>
  <% end %>
</header>

<div class="container-user-events-page">
  <div class="user-my-events-page">
    <h3>You Have Created <%= @my_events.count %> Event(s) So Far</h3>
    <% @my_events = current_user.events.limit(3)%>
    <%= render 'shared/my_events_user_profile' %>
  </div>

  <div class="user-join-events-page">
    <h3>You Are Attending to <%= @attended_events.count %> Event(s) So Far</h3>
        <% @attended_events.first(3).each do |attended| %>
         <%= link_to event_path(attended.event), class: "link-style" do %>
            <div id="container-events-horizontal">
              <div class="movie-poster-horizontal">
                <img src="<%= attended.event.movie.poster_url %>" alt="Movie Poster" class="movie-poster-horizontal">
              </div>
              <div class="date-box">
                <h3><%= attended.event.date.strftime("%d") %></h3>
                <p><%= attended.event.date.strftime("%a") %></p>
              </div>
              <div class="movie-theater">
                <h5><%= attended.event.theatre %></h5>
                <p><%= attended.event.location %></p>
              </div>
              <div class="participants-info">
                <% if attended.event.user.photo.attached? %>
                <%= image_tag attended.event.user.photo, crop: :fill, class: "avatar", alt: "dropdown menu" %> Host : <%=     User.find(attended.event.user_id).username %>
                <% else %>
                <%= image_tag "default_avatar.jpeg", class: "avatar", alt: "default avatar" %>
                <p>Host</p>
                <%= User.find(attended.event.user_id).username %></p>
                <% end %>
                <p>Participants <%= attended.event.event_users.count %></p>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
  <hr><hr>
</div>

<header class="flex center-vertically m-y-32 m-x-64">
  <h2>Your Friends </h2>
  <%= link_to friendships_path, class: "see-all" do %>
  See All <i class="fas fa-arrow-right"></i>
  <% end %>
</header>


<div class="user-friends-page">
  <% if current_user.friends.empty? %>
    <p class="text-muted"><em>Sorry, you have no friends... Yet!  😎 </em></h2>
    <% else %>
      <%= render 'shared/friends_cards_user_profile', friends: current_user.friends %>
  <% end %>
</div>


<div class="user-watchlist page">
    <div class="background_movies p-l-64 p-t-32">
      <section class="movie-recommendations m-y-24 p-b-42">
        <header class="flex center-vertically m-y-32 m-r-64">
          <h2 class="white">Movie recommendations</h2>
          <a href="#" class="see-all white">See All <i class="fas fa-solid fa-arrow-right"></i></a>
        </header>

        <div class="movies-horizontal-list"  data-controller="scroll">
          <button class="scroll-button left" data-action="click->scroll#scrollLeft">
            <i class="fas fa-circle-chevron-left"></i>
          </button>
          <% if current_user.preferred_content.present? %>
            <% current_user.preferred_content.each do |movie| %>

             <%= render "shared/movie_card", movie: movie %>

            <% end %>
          <% else %>
            <h2 class="white">
              <em>Sorry, there's no movie recommendation yet.</em>
            </h2>
          <% end %>
          <button class="scroll-button right" data-action="click->scroll#scrollRight">
            <i class="fas fa-circle-chevron-right"></i>
          </button>
        </div>
      </section>
    </div>
</div>
