<div class="review-card">
<div class="card-header">
  <div class="user-info">
   <% if review.user.photo.attached? %>
    <%= cl_image_tag review.user.photo.key, class: "avatar", height: 50, width: 50, crop: :thumb %>
  <% else %>
    <%= image_tag "default_avatar.jpeg", alt: "hello", class: "avatar"%>
  <% end %>
    <h5><%= review.user.username %> on <%= review.created_at.strftime("%d %B %Y") %></h5>
  </div>
  <div class="card-rating">
  <% review.rating.to_i.times do %>
  <i class="fa-solid fa-star"></i>
  <% end %>

  <% (5-review.rating).to_i.times do %>
    <i class="fa-regular fa-star"></i>
  <% end %>



  </div>
</div>
<div class="card-content">
  <%= review.content %>
</div>
</div>
